build/
.vscode/

# Ignore build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

# Ignore Visual Studio files
*.vcxproj
*.vcxproj.filters
*.sln
*.user
*.vcxproj.user

# Ignore log and temporary files
*.log
*.tlog
*.obj
*.bin
*.yaml
*.stamp

*.recipe

# Ignore diff files
*.diff

# Ignore input folder with node/edge files
# they should only exist on the machine running the program
input/

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride