[submodule "extlibs/gtest"]
	path = extlibs/gtest
	url = https://github.com/google/googletest
[submodule "extlibs/pybind11"]
	path = extlibs/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extlibs/eval"]
	path = extlibs/eval
	url = https://gitlab.informatik.hu-berlin.de/brandtfa/wise2425-evaluation.git
